<div class="text-right mt-3">
  <button class="btn btn-success" [routerLink]="['/usuarioAdd']">
    <i class="fa fa-plus"></i> Novo
  </button>
</div>

<div class="col-4">
  <div class="input-group mb-3 mt-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar por nome"
      aria-label="Pesquisar por nome"
      aria-describedby="basic-addon2"
      id="nome"
      name="nome"
      [(ngModel)]="nome"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="consultarUsuario()"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let usuario of usuarios
            | paginate
              : { itemsPerPage: 5, currentPage: pag, totalItems: total };
          let i = index
        "
      >
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.cpf }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm m-1"
            data-toggle="modal"
            data-target="#modalDelete"
            (click)="preparaDelecao(usuario, i)"
          >
            <i class="fa fa-trash"></i>
          </button>
          <button
            [routerLink]="['/usuarioAdd', usuario.id]"
            class="btn btn-primary btn-sm m-1"
          >
            <i class="fa fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <pagination-controls
      (pageChange)="carregarPagina((pag = $event))"
      previousLabel="Voltar"
      nextLabel="Próximo"
    ></pagination-controls>
  </div>
</div>

<!-- Modal Delete-->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteLabel">
          Confirmação de Exclusão
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="usuarioSelecionado">
        Confirma a deleção do(a) Usuario {{ usuarioSelecionado.nome }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="deleteUsuario()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
