<div id="page-content-wrapper" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sair()">Sair</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['usuarioList']">Lista de Usuários</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <router-outlet></router-outlet>

  <footer>
    <div class="footer-content">
      <h5>Francelino Marcílio</h5>
      <p>Desenvolvedor Front-end Angular</p>
      <ul class="socials">
        <li><a href="https://www.facebook.com/marcilio.silva.18"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/marcilio_silva77/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/francelinom"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/francelino-marcilio-da-silva/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2022 <strong>FrancelinoDev</strong></p>
    </div>
  </footer>
