<h3 class="mt-2">Tela de Usuário</h3>

<form #formValidate="ngForm">
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="id">ID</label>
      <input
        type="text"
        class="form-control"
        id="id"
        name="id"
        [(ngModel)]="usuario.id"
        disabled=""
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome</label>
      <span *ngIf="nomeValidate.invalid" class="text-danger"> *</span>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="usuario.nome"
        #nomeValidate="ngModel"
        required
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">Login</label>
      <span *ngIf="loginValidate.invalid" class="text-danger"> *</span>
      <input
        type="text"
        class="form-control"
        id="login"
        name="login"
        [(ngModel)]="usuario.login"
        #loginValidate="ngModel"
        required
      />
    </div>

    <div class="form-group col-md-6">
      <label for="senha">Senha</label>
      <span *ngIf="senhaValidate.invalid" class="text-danger"> *</span>
      <input
        type="password"
        class="form-control"
        id="senha"
        name="senha"
        [(ngModel)]="usuario.senha"
        #senhaValidate="ngModel"
        required
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cpf">CPF</label>
      <span *ngIf="cpfValidate.invalid" class="text-danger"> *</span>
      <input
        type="number"
        class="form-control"
        id="cpf"
        name="cpf"
        [(ngModel)]="usuario.cpf"
        #cpfValidate="ngModel"
        required
      />
    </div>

    <div class="form-group col-md-3">
      <label for="cpf">CEP</label>
      <span *ngIf="cepValidate.invalid" class="text-danger"> *</span>
      <input
        type="number"
        class="form-control"
        id="cep"
        name="cep"
        [(ngModel)]="usuario.cep"
        #cepValidate="ngModel"
        required
      />
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      Telefones Contato
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-success">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let fone of usuario.telefones">
        <td>{{fone.id}}</td>
        <td>{{fone.telefone}}</td>
        <td>
          <button class="btn btn-danger" (click)="deletarTelefone(fone.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-row">
    <div class="form-group">
      <button class="btn btn-secondary m-1" [routerLink]="['/usuarioList']">
        <i class="fa fa-angle-double-left"></i> Voltar
      </button>

      <button class="btn btn-primary m-1" (click)="novo()">
        <i class="fa fa-plus"></i> Novo
      </button>

      <button class="btn btn-success m-1" [disabled]="formValidate.invalid" (click)="salvarUsuario()">
        <i class="fa fa-save"></i> Salvar
      </button>
    </div>
  </div>
</form>
