<h3 class="mt-2">Tela de Usuário</h3>

<form>
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="id">ID</label>
      <input
        type="text"
        class="form-control"
        id="id"
        name="id"
        readonly
        autocomplete="false"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        autocomplete="false"
        required
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">Login</label>
      <input
        type="text"
        class="form-control"
        id="login"
        name="login"
        autocomplete="false"
        required
      />
    </div>

    <div class="form-group col-md-6">
      <label for="senha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        name="senha"
        autocomplete="false"
        required
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cpf">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        name="cpf"
        autocomplete="false"
        required
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <button class="btn btn-secondary m-1" [routerLink]="['/usuarioList']">
        <i class="fa fa-angle-double-left"></i> Voltar
      </button>

      <button class="btn btn-primary m-1">
        <i class="fa fa-plus"></i> Novo
      </button>

      <button class="btn btn-success m-1">
        <i class="fa fa-save"></i> Salvar
      </button>
    </div>
  </div>
</form>
